__pycache__/
*.py[cod]
*$py.class

DB_BACKUP/**
SAMBA_BACKUP/**
.settings/**
build/
*.tar.bz2
*.tar.bzip2
*.sql
*.pem
users.yaml

.project
.pydevproject

MySQL/mysql.cnf
*.odt#
*.egg-info

Cloning-Stuff/setHostname/dist/**
Cloning-Stuff/setHostname/build/**
Cloning-Stuff/setHostname/.settings/org.eclipse.core.resources.prefs

Windows-Server/Active-Domain/Usermanagement/tmp/**
Cloning-Stuff/setHostname/.classpath
