__pycache__/
*.py[cod]
*$py.class

DB_BACKUP/**
SAMBA_BACKUP/**
.settings/**
build/
*.tar.bz2
*.tar.bzip2
*.sql
*.pem
users.yaml

.project
.pydevproject

MySQL/mysql.cnf
*.odt#
*.egg-info
**/dist/**

Cloning-Stuff/setHostname/dist/**
Cloning-Stuff/setHostname/build/**
Cloning-Stuff/setHostname/.settings/org.eclipse.core.resources.prefs

Windows-Server/Active-Domain/Usermanagement/tmp/**
Windows-Server/Active-Domain/Usermanagement/*.csv
Windows-Server/Usermanagement/Import.csv

Cloning-Stuff/setHostname/.classpath
O365-Tools/O365-Sync/*.csv
O365-Tools/O365-Sync/config/vip.yaml
O365-Tools/O365-Sync/config/key.key
O365-Tools/O365-Sync/config/config.yaml
O365-Tools/O365-Create/files/*.csv
O365-Tools/O365-Sync/db/*.db
O365-Tools/O365-Sync/files/**



**/Thumbs.db
Tools/changeWallpaper/tmp/**
Tools/changeWallpaper/secret/key.key


